<ion-view view-title="Вход">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ui-sref="app.registration" ng-if="!authData">
            Регистрация
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header login">
        <div class="text-center">
            <a class="button button-icon icon ion-ionic "></a>
        </div>
        <form name="myForm" ng-submit="authWithPassword()">
            <div class="list">
                <label class="item item-input">
                    <input name="username" type="email" ng-model="loginData.username" placeholder="Логин" required>

                    <div ng-messages="myForm.username.$error" ng-if="myForm.username.$dirty" style="color:maroon">
                        <div ng-message="required">Поле обязательно для заполнения</div>
                        <div ng-message="email">Должен быть указан корректный адрес электронной почты</div>
                    </div>
                </label>

                <label class="item item-input">
                    <input name="password" type="password" ng-model="loginData.password" placeholder="Пароль" required>

                    <div ng-messages="myForm.password.$error" ng-if="myForm.password.$dirty" style="color:maroon">
                        <div ng-message="required">Поле обязательно для заполнения</div>
                    </div>
                </label>
            </div>
            <button class="button button-full button-dark" type="submit">Войти</button>
            <div class="text-center">
                <button class="button button-clear" ui-sref="app.security.resetPassword">
                    Забыли пароль?
                </button>
            </div>
        </form>

    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <button class="button button-full button-assertive icon-left ion-social-google" ng-click="login('google')">Войти
            через Google+
        </button>
    </div>

</ion-view>