<ion-view>
    <ion-content class="has-header login">
        <form name="myForm" ng-submit="changePassword(myForm)">
            <div class="list">
                <label class="item item-input">
                    <input name="oldPassword" type="password" ng-model="loginData.oldPassword" placeholder="Текущий пароль" required>

                    <div ng-messages="myForm.oldPassword.$error" ng-if="myForm.oldPassword.$dirty" style="color:maroon">
                        <div ng-message="required">Поле обязательно для заполнения</div>
                    </div>
                </label>

                <label class="item item-input">
                    <input name="newPassword" type="password" ng-model="loginData.newPassword" placeholder="Новый пароль" required>

                    <div ng-messages="myForm.newPassword.$error" ng-if="myForm.newPassword.$dirty" style="color:maroon">
                        <div ng-message="required">Поле обязательно для заполнения</div>
                        <div ng-message="equals">Пароли должны совпадать</div>
                    </div>
                </label>

                <label class="item item-input">
                    <input name="confirmPassword" type="password" ng-model="loginData.confirmPassword" placeholder="Новый пароль еще раз" required>

                    <div ng-messages="myForm.password.$error" ng-if="myForm.password.$dirty" style="color:maroon">
                        <div ng-message="required">Поле обязательно для заполнения</div>
                        <div ng-message="equals">Пароли должны совпадать</div>
                    </div>
                </label>
            </div>
            <button class="button button-full button-dark" type="submit">Сменить</button>
        </form>

    </ion-content>
</ion-view>